:root{
    --bg-gray: #f5f5f1;
    --card-white: #ffffff;
    --text-gray: #837e78;
}

body{
    background-color: var(--bg-gray);
}

.innerCard{
    background-color: var(--card-white);
    color: var(--text-gray);
}